#kropp {
  background-image: url("homepageimg.jpeg");
  font-family: 'Jura', sans-serif;
  font-family: 'Orbitron', sans-serif;
  background-size: cover;
}
/*för att göra sidan kompatibel med olika enheter som ex telefonen.*/
@media (max-width: 620px) {
    nav div h2{
   font-size: 13px;
 }
 nav div {
   align-self: center;
 }
   nav div h1 {
  font-size: 13px;
 }
/*Flexbox som gör att de olika titlarna tar upp lika mycket plats*/
}
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  border: solid black 1px;
  background-color: pink;
}
/* för att göra så att bilden sitter i mitten och inte i ett hörn i nav bar*/
.netflix {
height: 50px;
width: auto;
margin: auto;
align-self: center;
margin: 10px
}

/*titel1*/
.t1 {
  margin-left: 60px;
  color: darkgreen;
}

body {
font-family: 'Jura', sans-serif;
font-family: 'Orbitron', sans-serif;
background-color: teal;
}

.t1 {
  font-weight: bold;
  color: rgb(224, 155, 232);
  /*
  margin-left: 75px;
  margin-bottom: 80px;
  font-size: 15 px;
  color: darkred;
  */
}

/*titel2*/
.t2 {
  /*
   margin-left: 200px;
   margin-top: 9px;
   */
}
/*titel 3*/
.t3 {
  /*
  margin-left: 200px;
  margin-top: 9px;
  */
}
/*titel 4*/
.t4 {
  /*
  margin-left: 200px;
  margin-top: 9px;
  */
  /*titel 2*/
}
.t2 > a > h2 {
  color: darkred;
}
.t2 > a {
  text-decoration: none;
}
/*titel 3*/
.t3 > a > h2 {
  color: yellow;
}
.t3 > a {
  text-decoration: none;
}
/*titel 4*/
.t4 > a > h2 {
  color: darkblue;
}
.t4 > a {
  text-decoration: none;
}
/*titel 1*/
.t1 {
  margin-left: 70px;
  color: darkgreen;
}
/*sortera bilder i album*/
.albumbox > div {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
/*auto justera bildernas widht och height*/
.albumbox > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*box runt listan*/
.listbox  {
  margin: 30px;
  background-color: #1a5e5e;
  border: 1px solid black;
}
/*göra texten i boxen vit och stylead*/
.listbox > ul > li {
 font-weight: bold;
 color: #ffffff;
 font-size: 50px;
 text-decoration: none;
 list-style-type: none;
}
/*stylea länkarna i  listna*/
.listbox > ul > li > a {
 font-weight: bold;
 color: #ffffff;
 font-size: 50px;
 text-decoration: none;
 list-style-type: none;
}
/*stylea länkarna i listan när muspekaren ligger över dem*/
.listbox > ul > li > a:hover {
 font-weight: bold;
 color: grey;
 font-size: 50px;
 text-decoration: none;
 list-style-type: none;
}
/*brödtext och titel till listan där det står om spelen*/
.gameInfo {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}

.info {
  color: #ffffff;
  text-align: center;
}
/*för att ta sig till toppen i album*/
#totop {
   margin-left:  50%;
   color: black;
}
